<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Gamescore</title>
<link rel="icon" th:href="@{/img/Fevicon.png}" type="image/png">
<link rel="stylesheet" th:href="@{/vendors/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/themify-icons/themify-icons.css}">
<link rel="stylesheet" th:href="@{/vendors/nice-select/nice-select.css}">
<link rel="stylesheet"
	th:href="@{/vendors/owl-carousel/owl.theme.default.min.css}">
<link rel="stylesheet"
	th:href="@{/vendors/owl-carousel/owl.carousel.min.css}">

<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/ckeditor/ckeditor.js}"></script>
<!-- 다음 우편번호 검색 api -->
<script
	th:src="@{http://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
<script>
	function execDaumPostcode() {
		new daum.Postcode({
			oncomplete : function(data) {

				var fullRoadAddr = data.roadAddress;
				var extraRoadAddr = '';

				if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
					extraRoadAddr += data.bname;
				}
				if (data.buildingName !== '' && data.apartment === 'Y') {
					extraRoadAddr += (extraRoadAddr !== '' ? ', '
							+ data.buildingName : data.buildingName);
				}
				if (extraRoadAddr !== '') {
					extraRoadAddr = ' (' + extraRoadAddr + ')';
				}
				if (fullRoadAddr !== '') {
					fullRoadAddr += extraRoadAddr;
				}

				document.getElementById('zipcode').value = data.zonecode; //5자리 새우편번호 사용
				document.getElementById('roadAddress').value = fullRoadAddr;

			}
		}).open();
	}
</script>


<title>common layout</title>
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand logo_h" th:href="@{/}"><img
						th:src="@{/img/common/gamescore_logo.PNG}"
						style="height: 60px; width: 160px;" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse offset"
						id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto mr-auto">
							<li class="nav-item active"><a class="nav-link"
								th:href="@{/}">Home</a></li>
							<li class="nav-item submenu dropdown"><a href="#"
								class="nav-link dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Game</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link"
										th:href="@{/category}">Game List</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/gameDetail}">Game Details</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/checkout}">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link"
										href="confirmation">Confirmation</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/cart}">Shopping
											Cart</a></li>
								</ul></li>
							<li class="nav-item submenu dropdown"><a href="#"
								class="nav-link dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" th:href="@{blog}">Blog</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/single-blog}">Blog Details</a></li>
								</ul></li>
							<li class="nav-item submenu dropdown"><a href="#"
								class="nav-link dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link"
										th:href="@{/user/login}">Login</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/user/register}">Register</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/tracking-order}">Tracking</a></li>
								</ul></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/contact}">Contact</a></li>
						</ul>
						<th:block th:if="${session.userNm == null }">
							<ul class="nav-shop">
								<li class="nav-item"><button>
										<i class="ti-search"></i>
									</button></li>
								<li class="nav-item"><button>
										<i class="ti-shopping-cart"></i><span class="nav-shop__circle"></span>
									</button></li>


								<li class="nav-item"><a class="button button-header"
									th:href="@{/user/login}">Login / Register</a></li>
							</ul>
						</th:block>
						<th:block th:unless="${session.userNm == null }">
							<ul class="nav-shop">
								<li class="nav-item"><button>
										<i class="ti-search"></i>
									</button></li>
								<li class="nav-item"><button>
										<i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span>
									</button></li>
								<li class="nav-item"><a class="button button-header"
									th:href="@{/user/logout}">logout</a></li>
							</ul>
						</th:block>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<div layout:fragment="content"></div>

	<!--================ Start footer Area  =================-->
	<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>So seed seed green that winged cattle in. Gathering thing
								made fly you're no divided deep moved us lan Gathering thing us
								land years living.</p>
							<p>So seed seed green that winged cattle in. Gathering thing
								made fly you're no divided deep moved</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a th:href="@{/}">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Product</a></li>
								<li><a href="#">Brand</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Gallery</h4>
							<ul class="list instafeed d-flex flex-wrap">
								<li><img th:src="@{/img/gallery/r1.jpg}" alt=""></li>
								<li><img th:src="@{/img/gallery/r2.jpg}" alt=""></li>
								<li><img th:src="@{/img/gallery/r3.jpg}" alt=""></li>
								<li><img th:src="@{/img/gallery/r5.jpg}" alt=""></li>
								<li><img th:src="@{/img/gallery/r7.jpg}" alt=""></li>
								<li><img th:src="@{/img/gallery/r8.jpg}" alt=""></li>
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span> Developer
								</p>
								<p>Jun Hyun Park</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span> Phone Number
								</p>
								<p>
									010 6295 7570 <br>
								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span> Email
								</p>
								<p>
									junhyunpark305@gmail.com <br> www.gamescore.co.kr
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script>
						All rights reserved | This template is made with <i
							class="fa fa-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->

	<script th:src="@{/vendors/jquery/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/vendors/bootstrap/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendors/skrollr.min.js}"></script>
	<script th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
	<script th:src="@{/vendors/nice-select/jquery.nice-select.min.js}"></script>
	<script th:src="@{/vendors/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/vendors/mail-script.js}"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>