<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout.html}">
<head>
<style>
.centered-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 410px;
	object-fit: cover;
	opacity: 0.3;
}
</style>
</head>
<body>
	<div layout:fragment="content">

		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="blog">
			<img alt="" th:src="@{/img/community/pc-games.jpeg}"
				class="centered-image">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Community</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Community</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>

		<br> <br> <br> <br> <br> <br> <br>
		<br>
		<!-- ================ end banner area ================= -->


		<!--================Blog Categorie Area =================-->

		<!-- 
		<section class="blog_categorie_area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
						<div class="categories_post">
							<img class="card-img rounded-0"
								th:src="@{/img/community/pc-games.jpeg}" alt="post">
							<div class="categories_details">
								<div class="categories_text">
									<a href="single-blog">
										<h5>PC Community</h5>
									</a>
									<div class="border_line"></div>
									<p>PC 게임 유저를 위한 공간</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
						<div class="categories_post">
							<img class="card-img rounded-0"
								src="/img/home/eldenRingMain.jpeg" alt="post">
							<div class="categories_details">
								<div class="categories_text">
									<a href="single-blog">
										<h5>PS Community</h5>
									</a>
									<div class="border_line"></div>
									<p>PS 게임 유저를 위한 공간</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">
						<div class="categories_post">
							<img class="card-img rounded-0"
								src="/img/home/eldenRingMain.jpeg" alt="post">
							<div class="categories_details">
								<div class="categories_text">
									<a href="single-blog">
										<h5>XBOX Community</h5>
									</a>
									<div class="border_line"></div>
									<p>XBOX 게임 유저를 위한 공간</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
-->
		<!--================Blog Categorie Area =================-->

		<!--================Blog Area =================-->
		<section class="blog_area">
			<div class="container">
				<th:block th:if="session.userId != null">
					<h3>
						<a th:href="@{/community/insertPost}"
							style="font-size: 18px; line-height: 25px; background: #384aeb; text-align: center; color: #fff; padding: 8px 0px; margin-bottom: 30px; width: 100px;">
							Write Post </a>
					</h3>
				</th:block>
				<div class="row">
					<div class="col-lg-8">
						<div class="blog_left_sidebar">
							<article class="row blog_item" th:each="post : ${postList}">
								<div class="col-md-3">
									<div class="blog_info text-right">
										<ul class="blog_meta list">
											<li th:text="|게시글 번호 : ${postStat.count}|">게시글 번호</li>
											<li th:text="|작성자 : ${post.userNm}|">작성자<i
												class="lnr lnr-user"></i>
											</li>
											<li th:text="|작성일 : ${post.createdAt}|">작성일</li>
											<li th:text="|조회수 : ${post.readCnt}|">조회수</li>
										</ul>
									</div>
								</div>
								<div class="col-md-9">
									<div class="blog_post">
										<th:block th:if="${post.postImgNm != null}" )>
											<img th:src="@{/file/postThumbnails(postId=${post.postId})}"
												style="width: 450px; height: 227.02px;">
										</th:block>
										<th:block th:unless="${post.postImgNm != null}" )>
											<img th:src="@{/img/blog/main-blog/m-blog-1.jpg}"
												style="width: 450px; height: 227.02px;">
										</th:block>
										<div class="blog_details">
											<a th:href="@{/community/post(postId=${post.postId})}">
												<h2 th:text="${post.title}">title</h2>
											</a> <br> <a class="button button-blog"
												th:href="@{/community/post(postId=${post.postId})}">View
												More</a>
										</div>
									</div>
								</div>
							</article>

							<!-- <nav class="blog-pagination justify-content-center d-flex">
								<ul class="pagination">
									<li class="page-item"><a href="#" class="page-link"
										aria-label="Previous"> <span aria-hidden="true"> <span
												class="lnr lnr-chevron-left"></span>
										</span>
									</a></li>
									<li class="page-item"><a href="#" class="page-link">01</a>
									</li>
									<li class="page-item active"><a href="#" class="page-link">02</a>
									</li>
									<li class="page-item"><a href="#" class="page-link">03</a>
									</li>
									<li class="page-item"><a href="#" class="page-link">04</a>
									</li>
									<li class="page-item"><a href="#" class="page-link">05</a>
									</li>
									<li class="page-item"><a href="#" class="page-link"
										aria-label="Next"> <span aria-hidden="true"> <span
												class="lnr lnr-chevron-right"></span>
										</span>
									</a></li>
								</ul>

							</nav> -->
						</div>
					</div>
					<div class="col-lg-4">
						<div class="blog_right_sidebar">
							<aside class="single_sidebar_widget search_widget">
								<form th:action="@{/community/search}" method="get">
									<div class="input-group">
										<input type="text" class="form-control" name="searchKeyword"
											id="searchKeyword" placeholder="Search Posts"> <span
											class="input-group-btn">
											<button class="btn btn-default" type="submit">
												<i class="fa fa-search" aria-hidden="true"></i>
											</button>
										</span>
									</div>
									<!-- /input-group -->
									<div class="br"></div>
								</form>
							</aside>

							<aside class="single_sidebar_widget popular_post_widget">
								<h3 class="widget_title">Popular Posts</h3>
								<div class="media post_item">
									<img src="/img/blog/popular-post/post1.jpg" alt="post">
									<div class="media-body">
										<a href="single-blog">
											<h3>Space The Final Frontier</h3>
										</a>
										<p>02 Hours ago</p>
									</div>
								</div>
								<div class="media post_item">
									<img src="/img/blog/popular-post/post2.jpg" alt="post">
									<div class="media-body">
										<a href="single-blog">
											<h3>The Amazing Hubble</h3>
										</a>
										<p>02 Hours ago</p>
									</div>
								</div>
								<div class="media post_item">
									<img src="/img/blog/popular-post/post3.jpg" alt="post">
									<div class="media-body">
										<a href="single-blog">
											<h3>Astronomy Or Astrology</h3>
										</a>
										<p>03 Hours ago</p>
									</div>
								</div>
								<div class="media post_item">
									<img src="/img/blog/popular-post/post4.jpg" alt="post">
									<div class="media-body">
										<a href="single-blog">
											<h3>Asteroids telescope</h3>
										</a>
										<p>01 Hours ago</p>
									</div>
								</div>
								<div class="br"></div>
							</aside>
							<aside class="single_sidebar_widget ads_widget">
								<a href="#"> <img class="img-fluid" src="/img/blog/add.jpg"
									alt="">
								</a>
								<div class="br"></div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================Blog Area =================-->

		<!--================Instagram Area =================-->
		<section class="instagram_area">
			<div class="container box_1620">
				<div class="insta_btn">
					<a class="btn theme_btn" href="#">Follow us on instagram</a>
				</div>
				<div class="instagram_image row m0">
					<a href="#"><img src="/img/instagram/ins-1.jpg" alt=""></a> <a
						href="#"><img src="/img/instagram/ins-2.jpg" alt=""></a> <a
						href="#"><img src="/img/instagram/ins-3.jpg" alt=""></a> <a
						href="#"><img src="/img/instagram/ins-4.jpg" alt=""></a> <a
						href="#"><img src="/img/instagram/ins-5.jpg" alt=""></a> <a
						href="#"><img src="/img/instagram/ins-6.jpg" alt=""></a>
				</div>
			</div>
		</section>
		<!--================End Instagram Area =================-->



	</div>

</body>
</html>