<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout.html}">
<head>
<meta charset="UTF-8">
<style>
.star {
	color: #FFD700;
	cursor: pointer;
}

.star.checked {
	color: #FFD700;
}

.star.unchecked {
	color: #FFD700;
}
</style>
<script th:inline="javascript">
    function rateStars(rating) {
        let stars = document.querySelectorAll('.star');
        stars.forEach((star, index) => {
            if (index < rating) {
                star.classList.add('fa-star');
                star.classList.remove('fa-star-o');
            } else {
                star.classList.add('fa-star-o');
                star.classList.remove('fa-star');
            }
        });
        let calculatedRating = rating * 10;
        document.getElementById('rating').value = calculatedRating;
    }
    
   		document.addEventListener('DOMContentLoaded', (event) => {
        let stars = document.querySelectorAll('.star');
        stars.forEach((star, index) => {
            star.addEventListener('click', () => rateStars(index + 1));
        });
        
        document.getElementById('submit').addEventListener('click', function(event) {
            let isLoggedIn = /*[[${session.userId != null}]]*/ false;
            if (!isLoggedIn) {
                event.preventDefault();
                alert('로그인을 해주세요');
                window.location.href = '/user/login';
            }
        });
    });
    
    
</script>
</head>

<body>


	<div layout:fragment="content">

		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="blog">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Game Detail</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Game
									Detail</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->


		<!--================Single Product Area =================-->
		<div class="product_image_area">
			<div class="container">
				<div class="row s_product_inner">
					<div class="col-lg-6">
						<div class="owl-carousel owl-theme s_Product_carousel">
							<div class="single-prd-item">
								<img class="img-fluid"
									th:src="@{/file/thumbnails(gameImgName=${gameDTO.gameImgName})}"
									alt="">
							</div>
							<!-- <div class="single-prd-item">
							<img class="img-fluid" src=/"img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="/img/category/s-p1.jpg" alt="">
						</div> -->
						</div>
					</div>
					<div class="col-lg-5 offset-lg-1">
						<div class="s_product_text">
							<h3 th:text="${gameDTO.title}"></h3>
							<h2 th:text="|₩${#numbers.formatInteger(gameDTO.price, 3, 'COMMA')}|"></h2>
							<ul class="list">
								<li><a class="active" href="#"><span>Genre</span> : <span
										th:text="${gameDTO.genre}"></span></a></li>
								<li><a href="#"><span>Availibility</span> : In Stock</a></li>
							</ul>
							<p th:text="${gameDTO.description}">엘든링 설명~~</p>


						</div>
					</div>
				</div>
			</div>
		</div>
		<!--================End Single Product Area =================-->

		<!--================Product Description Area =================-->
		<section class="product_description_area">
			<div class="container">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link" id="home-tab"
						data-toggle="tab" href="#home" role="tab" aria-controls="home"
						aria-selected="false">Description</a></li>
					<li class="nav-item"><a class="nav-link active"
						id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="true">Specification</a></li>
					<li class="nav-item"><a class="nav-link" id="review-tab"
						data-toggle="tab" href="#review" role="tab" aria-controls="review"
						aria-selected="false">Reviews</a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade" id="home" role="tabpanel"
						aria-labelledby="home-tab">
						<p th:text="${gameDTO.description}">엘든링 상세 설명1</p>
					</div>
					<div class="tab-pane fade show active" id="profile" role="tabpanel"
						aria-labelledby="profile-tab">
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td>
											<h5>Developer</h5>
										</td>
										<td>
											<h5 th:text="${gameDTO.developer}">FromSoftware Inc.</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Publisher</h5>
										</td>
										<td>
											<h5 th:text="${gameDTO.publisher}">FromSoftware Inc. ,
												Bandai Namco Entertainmnet</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Release</h5>
										</td>
										<td>
											<h5 th:text="${gameDTO.releaseDt}">2022-02-25</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Genre</h5>
										</td>
										<td>
											<h5 th:text="${gameDTO.genre}">Action role-playing</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Player</h5>
										</td>
										<td>
											<h5 th:text="${gameDTO.player}">Single Player</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Modes</h5>
										</td>
										<td>
											<h5 th:text="${gameDTO.modes}">Online PvP, Online Co-op</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Steam Deck Compatibility</h5>
										</td>
										<td>
											<h5 th:text="${gameDTO.steamdeckCompatibility}">Verified</h5>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="tab-pane fade" id="review" role="tabpanel"
						aria-labelledby="review-tab">
						<div class="row">
							<div class="col-lg-6">
								<div class="row total_rate"
									style="margin-right: auto; margin-left: auto; justify-content: center">
									<div class="col-6">
										<div class="box_total">
											<h5>Game Score</h5>
											<h4 th:text="${rating}">0 ~ 100</h4>
											<h6 th:text="|리뷰 개수 : ${reviewCnt}개|">(리뷰 개수)</h6>
										</div>
									</div>
								</div>
								<hr>
								<div class="review_list">
									<div class="review_item">
										<div class="media">
											<div class="d-flex">
												<img th:src="@{/img/product/review-1.png}" alt="">
											</div>
											<div class="media-body">
												<h4>Blake Ruiz</h4>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="fa fa-star"></i>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed do eiusmod tempor incididunt ut labore et dolore
											magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
									</div>
									<div class="review_item">
										<div class="media">
											<div class="d-flex">
												<img th:src="@{/img/product/review-2.png}" alt="">
											</div>
											<div class="media-body">
												<h4>Blake Ruiz</h4>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="fa fa-star"></i>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed do eiusmod tempor incididunt ut labore et dolore
											magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
									</div>
									<div class="review_item">
										<div class="media">
											<div class="d-flex">
												<img th:src="@{/img/product/review-3.png}" alt="">
											</div>
											<div class="media-body">
												<h4>Blake Ruiz</h4>
												<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="fa fa-star"></i> <i class="fa fa-star"></i> <i
													class="fa fa-star"></i>
											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed do eiusmod tempor incididunt ut labore et dolore
											magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="review_box">
									<h4>Add a Review</h4>
									<p>Your Rating</p>
									<br>
									<ul class="list">
										<li th:each="i : ${#numbers.sequence(1, 10)}"><i
											class="fa fa-star-o fa-lg star"
											th:onclick="|rateStars(${i})|"></i></li>
									</ul>

									<form th:action="@{/gameDetail}"
										class="form-contact form-review mt-3" method="post">
										<input type="hidden" id="rating" name="rating" value="0">
										<input type="hidden" id="gameId" name="gameId"
											th:value="${gameDTO.gameId}"> <input type="hidden"
											id="userId" name="userId" th:value="${session.userId}">

										<div class="form-group">
											<textarea class="form-control different-control w-100"
												name="reviewText" id="reviewText" cols="30" rows="5"
												placeholder="Enter Comment"></textarea>
										</div>
										<div class="form-group text-center text-md-right mt-3">
											<button type="submit"
												class="button button--active button-review" id="submit">Submit
												Now</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Product Description Area =================-->

		<!--================ Start related Product area =================-->
		<section class="related-product-area section-margin--small mt-0">
			<div class="container">
				<div class="section-intro pb-60px">
					<p>Popular Item in the market</p>
					<h2>
						Top <span class="section-intro__style">Product</span>
					</h2>
				</div>
				<div class="row mt-30">
					<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
						<div class="single-search-product-wrapper">
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-1.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-2.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-3.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
						<div class="single-search-product-wrapper">
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-4.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-5.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-6.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
						<div class="single-search-product-wrapper">
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-7.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-8.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-9.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
						<div class="single-search-product-wrapper">
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-1.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-2.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
							<div class="single-search-product d-flex">
								<a href="#"><img th:src="@{/img/product/product-sm-3.png}"
									alt=""></a>
								<div class="desc">
									<a href="#" class="title">Gray Coffee Cup</a>
									<div class="price">$170.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ end related Product area =================-->
	</div>
</body>
</html>