<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout.html}">
<head>

<script>
	$(document).ready(function() {
		var savedSort = localStorage.getItem('selectedSort');
		if (savedSort) {
			$('#pageSort').val(savedSort);
		}

		$('#pageSort').change(function() {
			var selectedSort = $(this).val();
			localStorage.setItem('selectedSort', selectedSort);
			location.reload();
		});
	});

	function sortingSelect() {
		var selectedSort = $('#pageSort').val();
		localStorage.setItem('selectedSort', selectedSort);
		location.reload();
	}

	function sortingSelect() {
		var selectedValue = document.getElementById("pageSort").value;
		var url;

		switch (selectedValue) {
		case '1':
			url = '/gameList?sort=default';
			break;
		case '2':
			url = '/gameList?sort=popular';
			break;
		case '3':
			url = '/gameList?sort=latest';
			break;
		default:
			url = '/gameList?sort=default';
		}

		location.href = url;
	}
</script>

</head>
<body>
	<div layout:fragment="content">
		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="category">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Game List</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									Game List</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->


		<!-- ================ category section start ================= -->
		<section class="section-margin--small mb-5">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-9 col-lg-8 col-md-7">
						<!-- Start Filter Bar -->
						<div
							class="filter-bar d-flex flex-wrap align-items-center justify-content-between">
							<div class="sorting">
								<select id="pageSort" onchange="sortingSelect();">
									<option value="1">기본 정렬</option>
									<option value="2">인기순</option>
									<option value="3">최신순</option>
								</select>
							</div>
							<div>
								<form th:action="@{/search}" method="get">
									<div class="input-group filter-bar-search"
										style="margin-left: auto;">
										<input type="text" id="searchKeyword" name="searchKeyword"
											placeholder="Search">
										<div class="input-group-append">
											<button type="submit">
												<i class="ti-search"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- End Filter Bar -->
						<!-- Start Best Seller -->
						<section class="lattest-product-area pb-40 category-list">
							<div class="row">
								<div class="col-md-6 col-lg-4" th:each="game : ${gameList}">
									<div class="card text-center card-product">
										<div class="card-product__img">
											<img class="card-img"
												th:src="@{/file/thumbnails(gameImgName=${game.gameImgName})}"
												alt="">
											<ul class="card-product__imgOverlay">
												<li><button>
														<a class="ti-search"
															th:href="@{/gameDetail(gameId=${game.gameId})}"></a>
													</button></li>
											</ul>
										</div>
										<div class="card-body">
											<h4 class="card-product__title">
												<a th:href="@{/gameDetail(gameId=${game.gameId})}"
													th:text="${game.title}"></a>
											</h4>
											<p class="card-product__price"
												th:text="|₩${#numbers.formatInteger(game.price, 3, 'COMMA')}|"></p>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!-- End Best Seller -->
					</div>
				</div>
			</div>
		</section>
		<!-- ================ category section end ================= -->

		<!-- ================ Subscribe section start ================= -->
		<section class="subscribe-position">
			<div class="container">
				<div class="subscribe text-center">
					<h3 class="subscribe__title">Get Update From Anywhere</h3>
					<p>Bearing Void gathering light light his eavening unto dont
						afraid</p>
					<div id="mc_embed_signup">
						<form target="_blank"
							action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							method="get" class="subscribe-form form-inline mt-5 pt-1">
							<div class="form-group ml-sm-auto">
								<input class="form-control mb-1" type="email" name="EMAIL"
									placeholder="Enter your email" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your Email Address '">
								<div class="info"></div>
							</div>
							<button class="button button-subscribe mr-auto mb-1"
								type="submit">Subscribe Now</button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a"
									tabindex="-1" value="" type="text">
							</div>

						</form>
					</div>

				</div>
			</div>
		</section>
		<!-- ================ Subscribe section end ================= -->
	</div>

</body>
</html>