<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout.html}">
<head>

<script th:inline="javascript">

    document.addEventListener('DOMContentLoaded', (event) => {
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.addEventListener('click', function(event) {
            const userId = /*[[${session.userId}]]*/ null;
            if (!userId) {
                event.preventDefault();
                alert('로그인이 필요합니다.');
                window.location.href = '/user/login';
            }
        });
    });
    
</script>

</head>
<body>
	<div layout:fragment="content">

		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="category">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>게시판 작성</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Insert
									Post</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->


		<!--================Start Board Post Area =================-->
		<section class="board_post section-margin--small">
			<div class="container">
				<div class="order_details_table">
					<div class="board_post_form">
						<h2>게시판 작성</h2>
						<form th:action="@{/community/insertPost}" method="post"
							enctype="multipart/form-data">
							<input type="hidden" id="userId" name="userId"
								th:value="${session.userId}"> <input type="hidden"
								id="userNm" name="userNm" th:value="${session.userNm}">
							<div class="form-group">
								<label for="title">제목:</label> <input type="text" id="title"
									name="title" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="content">내용:</label>
								<textarea id="content" name="content" class="form-control"
									required></textarea>
								<script>
									CKEDITOR.replace("content");
								</script>
							</div>
							<div>
								<input type="file" id="upFile" name="upFile">
							</div>

							<div class="text-right">
								<button type="submit" class="btn btn-primary" id="submitBtn">작성</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<!--================End Board Post Area =================-->
	</div>
</body>
</html>