<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout.html}">
<head>
<script>
	$().ready(function() {

		$("#commentSubmit").click(function() {

			if (!session.userId) {
				alert("로그인을 해주세요");
				location.href = "/user/login";
			}
		});

	});
</script>
</head>
<body>

	<div layout:fragment="content">

		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="blog">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Post</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Post</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->



		<!--================Blog Area =================-->
		<section
			class="blog_area single-post-area py-80px section-margin--small">
			<div class="container">
				<div>
					<h3>
						<a th:href="@{/community/main}"
							style="font-size: 18px; line-height: 30px; background: #384aeb; text-align: center; color: #fff; padding: 8px 0px; margin-bottom: 30px; width: 300px; border-radius: 30px;">Community
							화면으로 돌아가기</a>
					</h3>
				</div>
				<div class="row">
					<div class="col-lg-8 posts-list">
						<div class="single-post row">
							<div class="col-lg-12">
								<div class="feature-img">
									<img class="img-fluid" style="width: 100%;"
										th:src="@{/file/postImg(postImgNm=${postDTO.postImgNm})}"
										alt="">
								</div>
							</div>
							<div class="col-lg-3  col-md-3">
								<div class="blog_info text-right">
									<ul class="blog_meta list">
										<li><a href="#" th:text="|작성자 : ${postDTO.userNm}|">Mark
												wiens <i class="lnr lnr-user"></i>
										</a></li>
										<li><a href="#" th:text="|작성일 : ${postDTO.createdAt}|">12
												Dec, 2017 <i class="lnr lnr-calendar-full"></i>
										</a></li>
										<li><a href="#" th:text="|조회수 : ${postDTO.readCnt}|">1.2M
												Views <i class="lnr lnr-eye"></i>
										</a></li>
										<li><a href="#" th:text="|댓글 수 :|">06 Comments <i
												class="lnr lnr-bubble"></i>
										</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 blog_details">
								<h2 th:text="${postDTO.title}">Astronomy Binoculars A Great
									Alternative</h2>
								<hr>
								<p class="excert" th:utext="${postDTO.content}">content</p>
							</div>
							<hr>
							<div class="col-lg-12">
								<div class="quotes">
									<th:block th:if="${session.userId} == ${postDTO.userId}">
										<input type="button" id="deletePost" value="삭제"
											style="float: right;"
											th:onclick="|location.href='@{/community/deletePost(postId=${postDTO.postId})}'|">
										<input type="button" id="updatePost" value="수정"
											style="float: right;"
											th:onclick="|location.href='@{/community/updatePost(postId=${postDTO.postId})}'|">&nbsp
									</th:block>
								</div>

							</div>
						</div>

						<!-- 이전 게시물 , 다음 게시물  -->
						<div class="navigation-area">
							<div class="row">
								<div
									class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
									<div class="arrow">
										<a href="#"> <span class="lnr text-white lnr-arrow-left"></span>
										</a>
									</div>
									<div class="detials">
										<p>Prev Post</p>
										<th:block th:if="${previousPostId != -1}">
											<a id="prevPost"
												th:href="@{/community/post(postId=${previousPostId})}">
												<h4
													style="font-size: 18px; line-height: 29px; border: 0px; width: 120%; font-weight: 300; color: #fff; border-radius: 45px; z-index: 0; background: #384aeb; text-align: center;">이전
													게시글</h4>
											</a>
										</th:block>
										<th:block th:unless="${previousPostId != -1}">
											<h4>이전 게시글이 존재하지 않습니다.</h4>
										</th:block>
									</div>
								</div>
								<div
									class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
									<div class="detials">
										<p>Next Post</p>
										<th:block th:if="${nextPostId != -1}">
											<a id="nextPost"
												th:href="@{/community/post(postId=${nextPostId})}">
												<h4
													style="font-size: 18px; line-height: 29px; border: 0px; width: 120%; font-weight: 300; color: #fff; border-radius: 45px; z-index: 0; background: #384aeb; text-align: center;">다음
													게시글</h4>
											</a>
										</th:block>
										<th:block th:unless="${nextPostId != -1}">
											<h4>다음 게시글이 존재하지 않습니다.</h4>
										</th:block>
									</div>
									<div class="arrow">
										<span class="lnr text-white lnr-arrow-right"></span>
									</div>
								</div>
							</div>
						</div>


						<!-- 댓글 영역 -->

						<div class="comments-area">
							<h4>05 Comments</h4>
							<th:block th:each="comment : ${comment}">
								<div class="comment-list">
									<div class="single-comment justify-content-between d-flex">
										<div class="user justify-content-between d-flex">
											<div class="desc">
												<h5 th:text="${comment.userNm}">Emilly Blunt</h5>
												<p class="date" th:text="${comment.createdAt}">December
													4, 2017 at 3:12 pm</p>
												<p class="comment" th:utext="${comment.content}">Never
													say goodbye till the end comes!</p>
											</div>
										</div>
										<div class="reply-btn">
											<a href="#" class="btn-reply text-uppercase">reply</a>
										</div>
									</div>
								</div>
							</th:block>
						</div>
						<div class="comment-form">
							<form th:action="@{/community/insertComment}" method="post">
								<div class="form-group"
									style="display: flex; align-items: center;">
									<input type="hidden" id="postId" name="postId"
										th:value="${postDTO.postId}"> <input type="hidden"
										id="userId" name="userId" th:value="${session.userId}">
									<input type="hidden" id="userNm" name="userNm"
										th:value="${session.userNm}">
									<textarea class="form-control mb-10" rows="1" id="content"
										name="content" placeholder="댓글을 입력하세요"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '댓글을 입력하세요'" required
										style="height: min-content; flex-grow: 1;"></textarea>
									<div class="reply-btn" style="margin-left: 10px;">
										<button type="submit" name="commentSubmit" id="commentSubmit"
											class="btn-reply text-uppercase"
											style="border: none; background: none; color: inherit; padding: 0;">
											<i class="fas fa-paper-plane"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="blog_right_sidebar">
							<aside class="single_sidebar_widget search_widget">
								<form th:action="@{/community/search}" method="get">
									<div class="input-group">
										<input type="text" class="form-control" name="searchKeyword"
											id="searchKeyword" placeholder="Search Posts"> <span
											class="input-group-btn">
											<button class="btn btn-default" type="submit">
												<i class="fa fa-search" aria-hidden="true"></i>
											</button>
										</span>
									</div>
									<!-- /input-group -->
									<div class="br"></div>
								</form>
							</aside>
							<aside class="single_sidebar_widget author_widget">
								<img class="author_img rounded-circle"
									th:src="@{/img/blog/author.png}" alt="">
								<h4 th:text="${postDTO.userNm}">Charlie Barber</h4>
								<p th:text="|Email : ${userDTO.email}|">Senior blog writer</p>
								<div class="social_icon">
									<a href="#"> <i class="fab fa-facebook-f"></i>
									</a> <a href="#"> <i class="fab fa-twitter"></i>
									</a> <a href="#"> <i class="fab fa-github"></i>
									</a> <a href="#"> <i class="fab fa-behance"></i>
									</a>
								</div>
								<p>Boot camps have its supporters andit sdetractors. Some
									people do not understand why you should have to spend money on
									boot camp when you can get. Boot camps have itssuppor ters
									andits detractors.</p>
								<div class="br"></div>
							</aside>
							<aside class="single_sidebar_widget ads_widget">
								<a href="#"> <img class="img-fluid" src="/img/blog/add.jpg"
									alt="">
								</a>
								<div class="br"></div>
							</aside>
						</div>
					</div>
				</div>

			</div>
	</div>
	</section>
	<!--================Blog Area =================-->


	<!--================Instagram Area =================-->
	<section class="instagram_area">
		<div class="container box_1620">
			<div class="insta_btn">
				<a class="btn theme_btn" href="#">Follow us on instagram</a>
			</div>
			<div class="instagram_image row m0">
				<a href="#"><img src="/img/instagram/ins-1.jpg" alt=""></a> <a
					href="#"><img src="/img/instagram/ins-2.jpg" alt=""></a> <a
					href="#"><img src="/img/instagram/ins-3.jpg" alt=""></a> <a
					href="#"><img src="/img/instagram/ins-4.jpg" alt=""></a> <a
					href="#"><img src="/img/instagram/ins-5.jpg" alt=""></a> <a
					href="#"><img src="/img/instagram/ins-6.jpg" alt=""></a>
			</div>
		</div>
	</section>
	<!--================End Instagram Area =================-->


	</div>

</body>
</html>