<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/common/layout.html}">

<head>
<meta charset="UTF-8">
</head>
<script>



	$().ready(function() {
		
		$("#checkDuplicatedId").click(function() {

			let memberId = $("#memberId").val();
			
		    if (memberId == ""){
		   		alert("ID를 입력하세요");
		   		return;
		    }
		    else{
		    	alert("뭐가 문제야");
		    	return;
		    }

			/* $.ajax({

				url : "",
				type : "",
				data : {},
				success : function() {

				}

			});
			 */
		});

		/* $.ajax({
			
			url : "",
			type : "",
			data : {},
			success : function(){
				
			}
			
		}); */

		// 비밀번호 확인 로직
		/* $("form").submit(function() {

			if ($("#password").val() != $("#confirmPassword").val()) {
				alert("비밀번호를 확인하세요.");
				$("#password").focus();
				return false;
			}
			

		}); */

	});
</script>
<body>

	<div layout:fragment="content">
		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="category">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Register</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Register</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->

		<!--================Login Box Area =================-->
		<section class="login_box_area section-margin">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="login_box_img">
							<img th:src="@{/img/home/eldenRingDlc.jpeg}" height="100%">
							<div class="hover">
								<h4>Already have an account?</h4>
								<p>There are advances being made in science and technology
									everyday, and a good example of this is the</p>
								<a class="button button-account" th:href="@{login}">Login
									Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="login_form_inner register_form_inner">
							<h3>Create an account</h3>
							<form class="row login_form" th:action="@{/gamescore/register}"
								method="post" id="register_form">
								<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="memberId"
										name="memberId" placeholder="아이디를 입력하세요"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '아이디를 입력하세요'"> <input
										type="button" id="checkDuplicatedId" value="중복확인">
								</div>


								<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="email" name="email"
										placeholder="Email을 입력하세요" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Email을 입력하세요'">
								</div>
								<div class="col-md-12 form-group">
									<input type="text" readonly class="form-control" id="zipcode"
										name="zipcode" placeholder="우편번호 입력"
										style="background-color: transparent;"
										onblur="this.placeholder = '우편번호 입력'"><input
										type="button" th:onclick="execDaumPostcode();" value="우편번호 검색">
								</div>
								<div class="col-md-12 form-group">
									<input type="text" readonly class="form-control"
										id="roadAddress" name="roadAddress" placeholder="도로명 주소"
										style="background-color: transparent;"
										onblur="this.placeholder = '도로명 주소'">
								</div>


								<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="address"
										name="address" placeholder="상세 주소를 입력하세요"
										style="background-color: transparent;"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '상세 주소를 입력하세요'">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" class="form-control" id="password"
										name="password" placeholder="비밀번호를 입력하세요"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '비밀번호를 입력하세요'">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" class="form-control"
										id="confirmPassword" name="confirmPassword"
										placeholder="비밀번호 확인" onfocus="this.placeholder = ''"
										onblur="this.placeholder = '비밀번호 확인'">확인되면 ajax로 확인 표시
									해주기
								</div>
								<div class="col-md-12 form-group">
									<button type="submit" value="submit"
										class="button button-register w-100">Register</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Login Box Area =================-->

	</div>


</body>

</html>