<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout.html}">

<head>
<meta charset="UTF-8">
<script>
	$().ready(function() {

		let idCheck = "";

		$("#checkDuplicatedId").click(function() {
			let userNm = $("#userNm").val();

			$.ajax({
				url : "/user/checkDuplicatedId",
				type : "post",
				data : {
					"userNm" : userNm
				},
				success : function(result) {
					if ($("#userNm").val() == "") {
						alert("ID를 입력하세요");
					} else if (result == "duplicate") {
						idCheck = "Y";
						alert("사용할 수 있는 ID입니다.");
						console.log(idCheck);

					} else {
						alert("사용할 수 없는 ID입니다.");
						idCheck = "N";
						console.log(idCheck);
					}
				}
			});

		});

		/* $.ajax({
			
			url : "",
			type : "",
			data : {},
			success : function(){
				
			}
			
		}); */

		// 아이디, 비밀번호 확인 로직
		$("form").submit(function() {
			if (idCheck == "Y") {
				return true;

			} else if (idCheck == "N") {
				alert("ID가 올바르지 않습니다");
				$("#userId").focus();
				return false;
			}
			else if(idCheck == ""){
				alert("ID 중복체크를 해주세요");
				$("#userId").focus();
				return false;
			}

			if ($("#userPw").val() != $("#confirmPassword").val()) {
				alert("비밀번호를 확인하세요");
				$("#userPw").focus();
				return false;
			}

		});

	});
</script>
</head>

<body>

	<div layout:fragment="content">
		<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="category">
			<div class="container h-100">
				<div class="blog-banner">
					<div class="text-center">
						<h1>Register</h1>
						<nav aria-label="breadcrumb" class="banner-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Register</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->

		<!--================Login Box Area =================-->
		<section class="login_box_area section-margin">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="login_box_img">
							<img th:src="@{/img/home/eldenRingDlc.jpeg}" height="100%">
							<div class="hover">
								<h4>Already have an account?</h4>
								<p>There are advances being made in science and technology
									everyday, and a good example of this is the</p>
								<a class="button button-account" th:href="@{login}">Login
									Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="login_form_inner register_form_inner">
							<h3>Create an account</h3>
							<form class="row login_form" th:action="@{/user/register}"
								method="post" id="register_form">
								<div class="col-md-12 form-group">
									<input type="text" required class="form-control" id="userNm"
										name="userNm" placeholder="아이디를 입력하세요"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '아이디를 입력하세요'"
										style="background-color: transparent;"> <input
										type="button" id="checkDuplicatedId" value="중복확인">
								</div>


								<div class="col-md-12 form-group">
									<input type="text" required class="form-control" id="email"
										name="email" placeholder="Email을 입력하세요"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'Email을 입력하세요'">
								</div>
								<div class="col-md-12 form-group">
									<input type="text" readonly required class="form-control"
										id="zipcode" name="zipcode" placeholder="우편번호 입력"
										style="background-color: transparent;"
										onblur="this.placeholder = '우편번호 입력'"><input
										type="button" th:onclick="execDaumPostcode();" value="우편번호 검색">
								</div>
								<div class="col-md-12 form-group">
									<input type="text" required readonly class="form-control"
										id="roadAddress" name="roadAddress" placeholder="도로명 주소"
										style="background-color: transparent;"
										onblur="this.placeholder = '도로명 주소'">
								</div>


								<div class="col-md-12 form-group">
									<input type="text" required class="form-control" id="address"
										name="address" placeholder="상세 주소를 입력하세요"
										style="background-color: transparent;"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '상세 주소를 입력하세요'">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" required class="form-control"
										id="userPw" name="userPw" placeholder="비밀번호를 입력하세요"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '비밀번호를 입력하세요'">
								</div>
								<div class="col-md-12 form-group">
									<input type="password" required class="form-control"
										id="confirmPassword" name="confirmPassword"
										placeholder="비밀번호 확인" onfocus="this.placeholder = ''"
										onblur="this.placeholder = '비밀번호 확인'">
								</div>
								<div class="col-md-12 form-group">
									<button type="submit" value="submit"
										class="button button-register w-100">Register</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Login Box Area =================-->

	</div>


</body>

</html>