<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.gamescore.admin.dao.AdminDAO">
	
	<insert id="addGame" parameterType="GameDTO">
		INSERT INTO
		GAME(
			GAME_ID,
			TITLE,
			PRICE,
			RELEASE_DT,
			DEVELOPER,
			PUBLISHER,
			STEAMDECK_COMPATIBILITY,
			GENRE,
			PLAYER,
			MODES,
			DESCRIPTION,
			PURCHASE_LK,
			GAME_IMG_NAME
		)
		
		VALUES (
			#{gameId},
			#{title},
			#{price},
			#{releaseDt},
			#{developer},
			#{publisher},
			#{steamdeckCompatibility},
			#{genre},
			#{player},
			#{modes},
			#{description},
			#{purchaseLk},
			#{gameImgName}
		)
	</insert>
	
	<select id="getGameDetail" parameterType="int" resultType="GameDTO">
		SELECT *
		FROM GAME
		WHERE GAME_ID = #{gameId}
	</select>
	
</mapper>