<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.gamescore.community.dao.CommunityDAO">
	
	<select id="getPostList" resultType="PostDTO">
		SELECT *
		FROM POST
	</select>
	
	<insert id="insertPost" parameterType="PostDTO">
		INSERT INTO 
		POST (
			POST_ID,
			USER_ID,
			USER_NM,
			TITLE,
			CONTENT,
			READ_CNT,
			CREATED_AT,
			UPDATED_AT,
			POST_IMG_NM
		)
		VALUE (
			#{postId},
			#{userId},
			#{userNm},
			#{title},
			#{content},
			#{readCnt},
			NOW(),
			NOW(),
			#{postImgNm}
		)
	</insert>
	
	<select id="getPostDetail" parameterType="long" resultType="PostDTO">
		SELECT *
		FROM POST
		WHERE POST_ID = #{postId}
	</select>
	
	<select id="getUserDTO" parameterType="long" resultType="UserDTO">
		SELECT *
		FROM USER
		WHERE USER_ID = #{userId}
	</select>
	
	<select id="getUserDetail" parameterType="long" resultType="UserDTO">
		SELECT U.*
		FROM POST P
		JOIN USER U
		ON P.USER_ID = U.USER_ID
		WHERE POST_ID = #{postId}
		
	</select>
	
	<select id="getPostImgNm" parameterType="long" resultType="String">
		SELECT POST_IMG_NM
		FROM POST
		WHERE POST_ID = #{postId}
	</select>
	
	<delete id="deletePost" parameterType="long">
		DELETE FROM POST
		WHERE POST_ID = #{postId}
	</delete>
	
	<select id="getPostDTO" parameterType="long" resultType="PostDTO">
		SELECT *
		FROM POST
		WHERE POST_ID = #{postId}
	</select>
	
	<select id="getPreviousPostId" parameterType="long" resultType="long">
		<![CDATA[
			SELECT COALESCE(MAX(POST_ID), -1)
			FROM POST
			WHERE POST_ID < #{postId}
		]]>
	</select>
	
	<select id="getNextPostId" parameterType="long" resultType="long">
		<![CDATA[
			SELECT COALESCE(MIN(POST_ID), -1)
			FROM POST
			WHERE POST_ID > #{postId}
		]]>
	</select>
	
	<select id="searchPost" parameterType="String" resultType="PostDTO">
		SELECT *
		FROM POST
		WHERE TITLE LIKE CONCAT('%', #{searchKeyword}, '%') OR CONTENT LIKE CONCAT('%', #{searchKeyword},'%')
		ORDER BY TITLE DESC
	</select>
	
	<insert id="createComment" parameterType="CommentDTO">
		INSERT INTO 
		COMMENT(
			COMMENT_ID,
			POST_ID,
			USER_ID,
			USER_NM,
			CONTENT,
			CREATED_AT,
			UPDATED_AT
		)
		VALUE(
			#{commentId},
			#{postId},
			#{userId},
			#{userNm},
			#{content},
			NOW(),
			NOW()
		)
	</insert>
	
	<select id="getCommentList" parameterType="long" resultType="CommentDTO">
		SELECT *
		FROM COMMENT
		WHERE POST_ID = #{postId}
	</select>
	
</mapper>