<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.gamescore.game.dao.GameDAO">
	
	<select id="getGameList" resultType="GameDTO">
		SELECT *
		FROM GAME
	</select>
	
	<select id="getGameDetail" parameterType="long" resultType="GameDTO">
		SELECT *
		FROM GAME
		WHERE GAME_ID = #{gameId}
	</select>
	
	<insert id="createGameRating" parameterType="RateDTO">
		INSERT INTO
		GS_REVIEW(
			REVIEW_ID,
			GAME_ID,
			USER_ID,
			RATING,
			REVIEW_TEXT,
			REVIEW_DT
		)
		VALUE(
			#{reviewId},
			#{gameId},
			#{userId},
			#{rating},
			#{reviewText},
			NOW()
		)
	</insert>
	
	<select id="getGameRating" parameterType="long" resultType="int">
		SELECT AVG(RATING)
		FROM GS_REVIEW
		WHERE GAME_ID = #{gameId}
	</select>
	
	<select id="getReviewCnt" parameterType="long" resultType="int">
		SELECT COUNT(*)
		FROM GS_REVIEW
		WHERE GAME_ID = #{gameId}
	</select>
	
</mapper>